@model IEnumerable<InstaAlbum.Models.tblCustomer>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function ConfirmationDialog(CustomerID) {
        if (confirm("Are you sure to delete?"))
            fnDeleteRecord(CustomerID);
        else
            return false;
    }
</script>
<script>
    function fnDeleteRecord(CustomerID) {
        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: "{'id':'" + CustomerID + "'}",
            url: '/Customer/Delete',
            success: function (response) {
                if (response.success === true) {
                    toastr.success(
                      response.message,
                      'Record is deleted',
                      {
                        timeOut: 1000,
                        fadeOut: 1000,
                        onHidden: function () {
                            window.location.reload();
                          }
                      }
                    );
                }
                else {
                    toastr.info(response.message, 'Record is not deleted',  { timeOut: 3000 });
                }
            },
            error: function () {
                toastr.error('Error occur', 'Error occur while deleting record.', { timeOut: 3000 });
            }

        });
    }

    function fnActivateDeactivateUser(CustomerID,ADAFlag)
    {
        var formData = new FormData;
        formData.append("id", CustomerID);
        formData.append("flag", ADAFlag);

        $.ajax({
            type: "POST",
            url: '/Customer/ActivateDeactivateCustomer',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.Act === true)
                {
                    toastr.success(
                        response.message,
                        'Customer is Activated!',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                }
                else if (response.DeAct === true) {
                    toastr.success(
                        response.message,
                        'Customer is De-Activated!',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                }
                else {
                    toastr.info(response.message, 'Customer is Activated!', { timeOut: 3000 });
                }
            },
            error: function () {
                toastr.error('Error occur', 'Error occur while Activate Customer.', { timeOut: 3000 });
            }

        });
    }
</script>

<div class="bg-dark bg-dots m-b-30">
    <div class="container">
        <div class="row p-b-60 p-t-60">

            <div class="col-lg-8 text-center mx-auto text-white p-b-30">
                <div class="m-b-10">
                    <div class="avatar avatar-lg ">
                        <h1 class="mdi mdi-account-group"></h1>
                    </div>
                </div>
                <h3>Customer Details </h3>
            </div>


        </div>
    </div>
</div>

<div class="container col-12 pull-up">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h3>Customer List</h3>
                    </div>
                    <div class="table-responsive">
                        <table id="example-height" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Profile Pic</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Phone No</th>
                                    <th>IsActive</th>
                                    <th>Created Date</th>
                                    <th>Updated Date</th>
                                    <th>Activate or Deactivate</th>
                                    <th>Edit/<br/>Expose</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="~/CustomerProfile/@item.ProfilePic"><img src="~/CustomerProfile/@item.ProfilePic" height="50px" width="50px" /></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CustomerEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @(item.IsActive ? "Yes" : "No")

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                                        </td>
                                        <td>
                                            @if (item.IsActive == true)
                                            {
                                                <input type="submit" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger" title="Click here to Deactivate Customer" value="De-Activate" onclick="javascript: fnActivateDeactivateUser(@item.CustomerID,0)"/>
                                            }
                                            else
                                            {
                                                <input type="submit" class="btn btn-sm m-b-15 ml-2 mr-2 btn-success" title="Click here to Activate Customer" value="Activate" onclick="javascript:fnActivateDeactivateUser(@item.CustomerID,1)"/>
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Update", "Edit", new { id = item.CustomerID }, htmlAttributes: new { @class = "btn btn-sm m-b-15 ml-2 mr-2 btn-success" })
                                            <input type="submit" id="btnExpose" class="btn btn-sm m-b-15 ml-2 mr-2 btn-primary" value="Approve Book"/>
                                        </td>
                                        <td>
                                            <input type="submit" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger" onclick="return ConfirmationDialog(@Html.DisplayFor(modelItem => item.CustomerID))" value="Delete" />
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
