@model IEnumerable<InstaAlbum.Models.tblPhotographer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
        function ConfirmationDialog(PhotographerID) {
            if (confirm("Are you sure to delete?"))
                fnDeleteRecord(PhotographerID);
            else
                return false;
        }
    </script>
    <script>
    function fnDeleteRecord(PhotographerID) {
        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: "{'id':'" + PhotographerID + "'}",
            url: '/Photographer/DeletePhotographer',
            success: function (response) {
                if (response.success === true) {
                    toastr.success(
                      response.message,
                      'Record is deleted',
                      {
                        timeOut: 1000,
                        fadeOut: 1000,
                        onHidden: function () {
                            window.location.reload();
                          }
                      }
                    );
                }
                else {
                    toastr.info(response.message, 'Record is not deleted',  { timeOut: 3000 });
                }
            },
            error: function () {
                toastr.error('Error occur', 'Error occur while deleting record.', { timeOut: 3000 });
            }

        });
    }
    </script>

    <div class="container col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3>Photographer List</h3>
                            <a href="@Url.Action("Create", "Photographer")" class = "btn btn-sm m-b-15 ml-2 mr-2 btn-success" >Add Photographer</a> 
                        </div>
                        <div class="table-responsive">
                            <table id="example-height" class="table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ProfilePic</th>
                                        <th>Photographer Name</th>
                                        <th>Contact</th>
                                        <th>DOB</th>
                                        <th>Branch Name</th>
                                        <th>Camera Name</th>
                                        <th>Created And Updated Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="~/PhotographerProfilePics/@item.ProfilePic" height="50px" width="50px"/></td>
                                            <td>@Html.DisplayFor(modelItem => item.PhotographerName)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)<br />
                                                @Html.DisplayFor(modelItem => item.PhoneNo)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                                            <td>@Html.DisplayFor(modelItem => item.tblBranch.BranchName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CameraName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CreatedDate)<br/>
                                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Update", "Edit", new { id = item.PhotographerID }, htmlAttributes: new { @class = "btn btn-sm m-b-15 ml-2 mr-2 btn-success" })
                                            </td>
                                            <td>
                                                <input type="submit" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger" onclick="return ConfirmationDialog(@Html.DisplayFor(modelItem => item.PhotographerID))" value="Delete" />
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



