@model IEnumerable<InstaAlbum.Models.tblStudioAdmin>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}
<script>

    function fnInsertRecord() {

        var txtCustomerName = document.getElementById("txtName");
        var txtCustomerEmail = document.getElementById("txtEmail");
        var txtSubject = document.getElementById("txtSubject");
        var txtMessage = document.getElementById("txtMsg");
        
        if (txtCustomerName.value == null || txtCustomerName.value.length <= 0) {
            toastr.warning('Input Error', 'Please enter Your name', { timeOut: 3000, fadeOut: 1000 });
            return;
        }
        if (txtCustomerEmail.value == null || txtCustomerEmail.value.length <= 0) {
            toastr.warning('Input Error', 'Please enter Your Email', { timeOut: 3000, fadeOut: 1000 });
            return;
        }
        if (txtSubject.value == null || txtSubject.value.length <= 0) {
            toastr.warning('Input Error', 'Please enter the Subject', { timeOut: 3000, fadeOut: 1000 });
            return;
        }
        if (txtMessage.value == null || txtMessage.value.length <= 0) {
            toastr.warning('Input Error', 'Please enter Message', { timeOut: 3000, fadeOut: 1000 });
            return;
        }
        
        var formData = new FormData();
        formData.append("CustomerName", txtCustomerName.value);
        formData.append("CustomerEmail", txtCustomerEmail.value);
        formData.append("Subject", txtSubject.value);
        formData.append("Message", txtMessage.value);

        $.ajax({
            type: "POST",
            url: '/UserHome/InsertQuery',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success === true) {
                    toastr.success(
                        response.message,
                        'Your Query Send Successfully.',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload(fnClearInputs);
                            }
                        }
                    );
                }
            },
            error: function () {
                toastr.error('Error occur', 'Error occur while inserting record.', { timeOut: 3000 });
                return;
            }
        });
    }
    function fnClearInputs() {
        document.getElementById("txtName").value = "";
        document.getElementById("txtEmail").value = "";
        document.getElementById("txtSubject").value = "";
        document.getElementById("txtMsg").value = "";
    }
</script>
<section id="contact-section" class="split-box">
    <div class="container-fluid">
        <div class="row">
            <div class="row-lg-height full-height-vh">
                <div class="col-lg-6 col-lg-height col-lg-middle bg-image" style="background-image: url(../userassets/img/misc/misc-4.jpg); background-position: 50% 50%;">
                    <div class="cover"></div>
                    <div class="split-box-content text-left no-padding-left no-padding-right">
                        <div class="contact-info-wrap">
                            @foreach (var item in Model)
                            {
                                <div class="contact-info">
                                    <p><i class="fa fa-home"></i> address: @item.Address </p>
                                    <p><i class="fa fa-phone"></i> phone: @item.PhoneNo</p>
                                    <p><i class="fa fa-envelope"></i> email: <a href="mailto:instaalbum@gmail.com" target="_blank">@item.Email</a></p>
                                    <p><i class="fa fa-tasks"></i> opening hour: @item.OpeningHours</p>
                                    <p><i class="fa fa-times"></i> closing hour: @item.ClosingHours</p>
                                    <iframe height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=@item.Map&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-height col-lg-middle no-padding">
                    <div class="split-box-content">
                        
                        <div id="contact-form">
                            <div class="contact-form-inner text-left">
                                <div class="contact-form-info">
                                    <h1 class="contact-form-title font-alter-1">Get In Touch</h1>
                                    <p></p>
                                </div>
                                <input type="hidden" name="project_name" value="yourwebsiteaddress.com">
                                <input type="hidden" name="admin_email" value="your@email.com">
                                <input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" id="txtName" class="form-control" name="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" id="txtEmail" class="form-control" name="email" placeholder="Your Email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" id="txtSubject" class="form-control" name="subject" placeholder="Subject" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="txtMsg" name="message" rows="4" placeholder="Your Message" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="small text-gray"><em>* All fields are required!</em></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" id="btnContact" onclick="javascript:fnInsertRecord()" class="btn btn-primary btn-lg btn-block margin-top-40">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

