@model IEnumerable<InstaAlbum.Models.tblPortfolio>
@{
    ViewBag.Title = "SingleProtfolio";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}
<section id="page-section" class="no-padding">
    <div class="split-box">
        <div class="container-fluid">
            <div class="row">
                <div class="row-lg-height">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-lg-height split-box-image no-padding bg-image" style="background-image: url(../../PortfolioImages/@item.Image); background-position: 50% 50%;">

                            <div class="sbi-height padding-height-105"></div>

                        </div>
                        <div class="col-lg-6 col-lg-height col-lg-middle no-padding">

                            <div class="split-box-content shifted-left text-left">
                                <span class="article-time">@item.CreatedDate</span>
                                <h3>@item.PortfolioName</h3>

                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div> 
    </div>
</section>









@*<div class="container-fluid max-width-1400">
    <div class="blog-single-wrap">
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <article class="blog-single-post">
                        <div class="blog-single-image bg-image" style="background-image: url(../../PortfolioImages/@item.Image);"></div>
                        <div class="blog-single-post-heading">
                            <h1 class="blog-single-post-title">@item.SmallDescription</h1>
                            <div class="blog-single-post-category"><a href="#">@item.PortfolioName</a></div>
                        </div>
                        <div class="blog-single-post-inner">
                            <div class="blog-single-attributes">
                                <div class="row">
                                    <div class="blog-single-meta-wrap">
                                        <div class="blog-single-meta">
                                            <div class="article-time-cat">
                                                <span class="article-time">@item.CreatedDate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content lightgallery">
                                <p class="lead">@item.Description</p>
                                <br>
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>*@