@model IEnumerable<InstaAlbum.Models.tblSubCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
        function ConfirmationDialog(SubCategoryID) {
            if (confirm("Are you sure to delete?"))
                fnDeleteRecord(SubCategoryID);
            else
                return false;
        }
    </script>

<script>
        function fnDeleteRecord(SubCategoryID) {
            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: "{'id':'" + SubCategoryID + "'}",
                url: '/SubCategory/DeleteSubCategory',
                success: function (response) {
                    if (response.success === true) {
                        toastr.success(
                            response.message,
                            'Record is deleted',
                            {
                                timeOut: 1000,
                                fadeOut: 1000,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    }
                    else {
                        toastr.info(response.message, 'Record is not deleted', { timeOut: 3000 });
                    }
                },
                error: function () {
                    toastr.error('Error occur', 'Error occur while deleting record.', { timeOut: 3000 });
                }

            });
        }
    </script>

<div class="bg-dark bg-dots m-b-30">
    <div class="container">
        <div class="row p-b-60 p-t-60">

            <div class="col-lg-8 text-center mx-auto text-white p-b-30">
                <div class="m-b-10">
                    <div class="avatar avatar-lg ">
                        <h1 class="mdi mdi-format-list-bulleted-type"></h1>
                    </div>
                </div>
                <h3>Sub Category Details</h3>
                <a href="@Url.Action("Index", "ParentCategory")" title="Click here to go to Parent Category"><h1 class="mdi mdi-arrow-left"></h1></a>
            </div>
        </div>
    </div>
</div>

<div class="container col-12 pull-up">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div>
                        <h3>Sub Category List</h3>
                        <input type="hidden" id="hdnSubCategoryID" />
                    </div>
                    <div class="table-responsive">
                        <table id="example-height" class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Cover Photo</th>
                                    <th>Parent Category Name</th>
                                    <th>Sub Category Name</th>
                                    <th>Created Date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="~/SubCategoryImages/@item.SubCategoryCoverPhoto"><img src="~/SubCategoryImages/@item.SubCategoryCoverPhoto" height="50px" width="50px" /></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tblParentCategory.ParentCategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            <input type="submit" class="btn btn-sm m-b-15 ml-2 mr-2 btn-danger" onclick="return ConfirmationDialog(@Html.DisplayFor(modelItem => item.SubCategoryID))" value="Delete" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


